---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
  title='text-components'
  metaDescription='text-components'>
  <ul>
    <li>
      <a href='/page-sections/text-components'>Text Components</a>
    </li>
    <li>
      <a href='/page-sections/image-components'>Image Components</a>
    </li>
    <li>
      <a href='/page-sections/inputs'>Inputs</a>
    </li>
  </ul>
</BaseLayout>
